---
import GlassSurface from "../components/GlassSurface";
---

<header class="p-[5.208vw] fixed top-0 z-20 w-full" id="">
  <GlassSurface
    borderRadius={24}
    borderWidth={0.1}
    displace={6}
    backgroundOpacity={0.22}
    blur={22}
    distortionScale={-140}
    brightness={72}
    redOffset={0}
    greenOffset={8}
    blueOffset={14}
    mixBlendMode="difference"
    client:only="react"
    className={`!w-full !h-fit`}
  >
    <div class="p-[1.667vw] flex flex-row justify-between items-center w-full">
      <img src="/pages/home/demia.svg" alt="" class="w-auto h-[1.831vw]" />
      <p class="text-white">Menu</p>
    </div>
  </GlassSurface>
</header>

<script src="../libs/header.js"></script>
