---
import Layout from "../layout/Layout.astro";
---

<Layout title="Demia Starter Kit" description="UI/UX Sito Web">
  <section class="h-screen relative">
    <img src="/pages/home/placeholder.jpg" alt="" class="w-full h-full object-cover" />
    <div class="bg-gradient-to-r from-black to-black/0 opacity-50 absolute z-[1] w-full h-full top-0"></div>
    <div class="absolute top-0 w-full h-full flex flex-col justify-end z-[2] p-[5.208vw]">
      <div class="flex flex-col gap-[1.25vw]">
        <h1 class="text-white font-bold">Demia Starter kit</h1>
        <h2 class="text-white font-normal">UI/UX Sito Web</h2>
      </div>
    </div>
    <div class="w-full bottom-0 h-[1.042vw] bg-gradient-to-r from-[#E6007E] to-[#F9B000] z-[2] absolute"></div>
  </section>
</Layout>
