@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Colori */
  --color-azzurro: #3dbcc8;

  /* Misure */
  --spacing-xxl: clamp(150px, 13.889vw, 19.531vh); /* 200px */
  --spacing-xl: clamp(100px, 10.417vw, 14.648vh); /* 150px */
  --spacing-l: clamp(44px, 5.556vw, 7.813vh); /* 80px */
  --spacing-m: clamp(32px, 3.056vw, 4.297vh); /* 44px */
  --spacing-s: clamp(24px, 2.222vw, 3.125vh); /* 32px */
  --spacing-xs: clamp(16px, 1.667vw, 2.344vh); /* 24px */
  --spacing-xxs: clamp(12px, 1.111vw, 1.563vh); /* 16px */
  --spacing-xxs: clamp(12px, 1.111vw, 1.563vh); /* 16px */

  --spacing-gutter: clamp(10px, 0.694vw, 0.977vh); /* 10px */
  --spacing-body: clamp(16px, 2.5vw, 3.516vh); /* 36px */
  --spacing-hero: clamp(100dvh, 71.111vw, 100vh); /* 100vh */

  /* Taglie immagini */
  --img-xl: clamp(580px, 55.556vw, 78.125vh);
  --img-l: clamp(420px, 40.278vw, 56.641vh);
  --img-m: clamp(320px, 29.167vw, 41.016vh);
  --img-s: clamp(240px, 23.611vw, 33.203vh);
  --img-xs: clamp(240px, 16.667vw, 23.438vh);
}

@utility img-xxl {
  height: var(--img-xxl);
}
@utility img-xl {
  height: var(--img-xl);
}
@utility img-l {
  height: var(--img-l);
}
@utility img-m {
  height: var(--img-m);
}
@utility img-s {
  height: var(--img-s);
}

body,
html {
  overflow-x: hidden;
  font-family: Montserrat;
}

h1,
.t-h1 {
  font-size: 120px;
  line-height: 123px;
}

h2,
.t-h2 {
  font-size: 44px;
  line-height: 48px;
}

h3,
.t-h3 {
  font-size: 123px;
  line-height: 123px;
}

h4,
.t-h4 {
  font-size: 123px;
  line-height: 123px;
}

h5,
.t-h5 {
  font-size: 123px;
  line-height: 123px;
}

p.big,
.t-p-big {
  font-size: 123px;
  line-height: 123px;
}

p,
.t-p {
  font-size: 123px;
  line-height: 123px;
}

p.small,
.t-p-small {
  font-size: 123px;
  line-height: 123px;
}
