@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-azzurro: #3dbcc8;
}

body,
html {
  font-family: "Lato", serif;
  overflow-x: hidden;
}

/* Font */

/* Spacing */

.px-body {
  padding-left: 2.5vw; /* 36px */
  padding-right: 2.5vw; /* 36px */
}

.py-body {
  padding-top: 13.889vw; /* 200px */
  padding-bottom: 13.889vw; /* 200px */
}
