@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Colori */
  --color-arancio: #FF6600;
  --color-bianco: #FFF;
  --color-nero: #000;
  --color-neutral3: #E2E2E2;
  --color-neutral2: #F5F5F5;

  /* Misure */
  --spacing-xxxl: clamp(100px, 13.021vw, 23.148vh); /* 250px */
  --spacing-xxl: clamp(100px, 7.813vw, 13.889vh); /* 150px */
  --spacing-xl: clamp(44px, 4.167vw, 7.407vh); /* 80px */
  --spacing-l: clamp(24px, 2.292vw, 4.074vh); /* 44px */
  --spacing-m: clamp(16px, 1.667vw, 2.963vh); /* 32px */
  --spacing-s: clamp(16px, 1.25vw, 2.222vh); /* 24px */
  --spacing-xs: clamp(12px, 0.833vw, 1.481vh); /* 16px */
  --spacing-xxs: clamp(8px, 0.417vw, 0.741vh); /* 8px */
  --spacing-xxxs: clamp(4px, 0.208vw, 0.37vh); /* 4px */

  /* Custom */
  --spacing-1.5: clamp(1.5px, 0.078vw, 0.139vh); /* 1.5px */

  /* Card */
  --spacing-card-l: clamp(20px, 2.292vw, 4.074vh); /* 44px */
  --spacing-card-m: clamp(20px, 1.667vw, 2.963vh); /* 32px */
  --spacing-card-s: clamp(20px, 1.042vw, 1.852vh); /* 20px */

  /* Gen */
  --spacing-gutter: clamp(10px, 0.521vw, 0.926vh); /* 10px */
  --spacing-body: clamp(16px, 1.875vw, 3.333vh); /* 36px */
  --spacing-hero: clamp(100vh, 100vw, 100vh); /* 100vh */

  /* Taglie immagini */
  --spacing-img-xxl: clamp(420px, 41.667vw, 74.074vh); /* 800px */
  --spacing-img-xl: clamp(420px, 35.417vw, 62.963vh); /* 680px */
  --spacing-img-l: clamp(420px, 30.208vw, 53.704vh); /* 580px */
  --spacing-img-m: clamp(320px, 21.875vw, 38.889vh); /* 420px */
  --spacing-img-s: clamp(240px, 17.708vw, 31.481vh); /* 340px */
  --spacing-img-xs: clamp(240px, 12.5vw, 22.222vh); /* 240px */
}

html {
  overflow-x: hidden;
  font-family: Montserrat;
}

html[data-theme="white"] {
  background-color: var(--color-bianco);
}

@utility overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@layer utilities {
  .highlight {
    font-size: clamp(64px, 9.375vw, 16.667vh);
    line-height: clamp(64px, 9.375vw, 16.667vh);
  }

  .t-h1 {
    font-size: clamp(44px, 5.208vw, 9.259vh);
    line-height: clamp(48px, 5.417vw, 9.63vh);
  }

  .t-h2 {
    font-size: clamp(36px, 4.063vw, 7.222vh);
    line-height: clamp(40px, 4.271vw, 7.593vh);
  }

  .t-h3 {
    font-size: clamp(24px, 2.5vw, 4.444vh);
    line-height: clamp(28px, 2.708vw, 4.815vh);
  }

  .t-h4 {
    font-size: clamp(20px, 1.875vw, 3.333vh);
    line-height: clamp(24px, 2.083vw, 3.704vh);
  }

  .t-h5 {
    font-size: clamp(20px, 1.25vw, 2.222vh);
    line-height: clamp(24px, 1.458vw, 2.593vh);
  }

  p,
  .t-p {
    font-size: clamp(16px, 0.833vw, 1.481vh);
    line-height: clamp(20px, 1.042vw, 1.852vh);
  }

  .t-label {
    font-size: clamp(20px, 1.042vw, 1.852vh);
    line-height: clamp(20px, 1.042vw, 1.852vh);
    letter-spacing: -0.3px;
  }

  .t-small {
    font-size: clamp(12px, 0.625vw, 1.111vh);
    line-height: clamp(16px, 0.833vw, 1.481vh);
  }
}
